{% extends 'admin/master.html' %}

{% block body %}
    <form action="save" method="post">
    <table class="table table-striped table-hover">
    <thead>
    <tr>
        <th> </th>
        <th>用户名</th>
        <th>收货人</th>
        <th>收货地址</th>
        <th>书籍</th>
        <th>总价格</th>
        <th>创建时间</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody>

    {% for one in billings %}
    <tr>
        <th><input type="checkbox" name="billingid" value="{{ one.pk }}"></th>
        <th>{{ one.user.username }}</th>
        <th>{{ one.address.name }}</th>
        <th>{{ one.address.dormitory }}</th>
        <th>{% for one_cart, number in one.carts_info() %}{{ one_cart.book.title }} * {{ number }}<br />{% endfor %}</th>
        <th>{{ one.get_sum_price() }}</th>
        <th>{{ one.create_time|datetime }}</th>
        <th>{{ one.status }}</th>
    </tr>
    {% endfor %}

    </tbody>
    </table>
    <button class="btn btn-primary" style="float:right">下一步</button>
    </form>
{% endblock %}