{% extends 'admin/master.html' %}

{% block body %}
    <h1 class="lead">采货单</h1>
    <form action="savein" method="post" class="form-horizontal">
    <table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>订单ID</th>
        <th>订单书籍</th>
        <th>书籍定价</th>
        <th width="100px">实际价钱</th>
        <th width="100px">书籍采购处</th>
        <th>订单原价</th>
        <th>订单实际总价</th>
        <th>下单时间</th>

    </tr>
    </thead>
    <tbody>

    {% for one in billings %}
    {% for one_cart in one.carts %}
        {% if loop.first %}
    <tr class="billing_id" id="{{ one.pk }}">
        <th rowspan="{{ loop.length }}">{{ one.pk }}<input type="hidden" name="billing_id" value="{{ one.pk }}"></th>
        <th>{{ one_cart.book.title }}</th>
        <th>{{ one_cart.price }}</th>
        <th><input type="number" class="form-control price" onchange="calc()" name="{{ one.pk }}-{{ one_cart.pk }}" step="0.01" required="required"></th>
        <th><input type="text" class="form-control" name="{{ one.pk }}-{{ one_cart.pk }}-source" required="required"></th>

        <th rowspan="{{ loop.length }}">{{ one.get_sum_price() }}</th>
        <th rowspan="{{ loop.length }}"><div class="{{ one.pk }}">自行计算</div></th>
        <th rowspan="{{ loop.length }}">{{ one.create_time|datetime }}</th>

    </tr>

        {% else %}
    <tr>
        <th style="white-space: pre">{{ one_cart.book.title }}</th>
        <th>{{ one_cart.price }}</th>
        <th><input class="form-control price" type="number" onchange="calc()" name="{{ one.pk }}-{{ one_cart.pk }}" step="0.01" required="required"></th>
        <th><input class="form-control" type="text" name="{{ one.pk }}-{{ one_cart.pk }}-source" required="required"></th>

    </tr>
        {% endif %}
    {% endfor %}
    {% endfor %}

    </tbody>
    </table>
    <div class="book-num form-group">
        <label class="col-sm-2 control-label">书籍数量</label>
        <div class="col-sm-10">
            <p class="form-control-static"><!-- 在这里填入书籍数量 --></p>
        </div>
    </div>
    <div class="price_sum form-group">
        <label class="col-sm-2 control-label">总价</label>
        <div class="col-sm-10">
            <p id="prices" class="form-control-static"><!-- 在这里填入实际总价 --></p>
        </div>
    </div>
    <div class="price_sum_r form-group">
        <label class="col-sm-2 control-label">实际总价</label>
        <div class="col-sm-10">
            <p id="sum" class="form-control-static">0</p>
        </div>
    </div>
    <div class="interest form-group">
        <label class="col-sm-2 control-label">差价</label>
        <div class="col-sm-10">
            <p id="diff" class="form-control-static">0</p>
        </div>
    </div>
    <div class="person form-group">
        <label for="operator" class="col-sm-2 control-label">经手人</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="operator" id="operator" required="required">
        </div>
    </div>
    <div class="dormitory form-group">
        <label for="warehouse" class="col-sm-2 control-label">仓库</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="warehouse" id="warehouse" required="required">
        </div>
    </div>
    <button>下一步</button>

{% endblock %}

{% block tail %}
{{ super() }}
<script>

    function calc() {
        var elements = document.getElementsByClassName('price');
        var price_sum = 0;
        for(let i=0,len=elements.length; i<len; i++) {
            price_sum += +elements[i].value ? +elements[i].value : 0;
        }
        document.getElementById('sum').innerText = price_sum.toString();
        document.getElementById('diff').innerText = (+document.getElementById('prices').innerText - price_sum).toString()
    }

</script>
{% endblock %}