.comments-page {
  .book-comments-all {
    overflow: hidden;
    .navbar {
      box-shadow: none;
      padding: 0;
      min-height: 30px;
      border-radius: 0;
      background-color: #FFF;
      border-bottom: 1px solid #eee;
      margin: 0;
      a {
        padding: 12px;
        height: auto;
      }
    }
    .book-comment {
      padding-bottom: 5px;
      .comment-meta {
        overflow: hidden;
        width: 100%;
        display: block;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        p {
          color: #828282;
          float: left;
          margin-bottom: 0;
          padding: 5px 10px 5px 0;
        }
        i {
          float: right;
          padding: 5px 10px;
          &:before {
            padding-right: 5px;
          }
        }
      }
      &:last-child .comment-meta{
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
    .book-no-comment {
      padding: 15px;
      text-align: center;
      font-size: 14px;
    }
    .book-comments-list {
      margin-top: 45px;
      padding: 10px 10px 0 10px;
      background-color: #ffffff;
    }
    .book-comments .book-comment {
      padding-bottom: 5px;
    }
    .book-comment-origin{
      margin: 10px 0;
      color: #a6a6a6;
      img {
        border-radius: 50%;
        width: 35px;
        height: 35px;
      }
      span:first-child {
        padding-left: 5px;
      }
      .star {
        float: right;
        line-height: 2.5;
      }
    }
  }
}