<div class="suggest">
    <div class="i-suggest">
        <div class="suggest-header">
            <h4>说出你的建议和看法帮助改善平台</h4>
        </div>
        <hr>
        <div class="input-group">
            <img ng-src="{{vm.user.avatar}}">
        </div>
        <form class="suggestion" name="vm.suggestBox">
            <textarea class="form-control" name="suggestion"
                      ng-model="vm.suggestion" ng-required="required"></textarea>
            <button type="submit" class="btn btn-block btn-info"
                    ng-click="vm.post()" ng-disabled="vm.WAIT_OPERATING">提交</button>
        </form>
    </div>
</div>
