.auth-page {
  overflow: hidden;
  background-color: white;
  .bg {
    height: 150px;
    background: {
      image: url('https://cdn.bookist.org/images.jpg');
      color: #FFFFFF;
    }
    span {
      display: block;
      color: white;
      font-size: 28px;
      text-align: center;
      letter-spacing: 1.4px;
      padding: 55px 0;
      text-shadow: 5px 5px 5px #000000;
    }
  }
  form {
    padding: 20px 15px;
  }
  .auth-form {
    margin-top: 45px;
  }
  .auth {
    width: 100%;
    border-radius: 0;
    margin: 15px 0;
    display: block;
  }
  .avatar {
    text-align: center;
    img {
      border-radius: 50%;
      width: 100px;
    }
    small {
      display: block;
      padding-top: 5px;
      color: #777;
    }
  }
  .input-group-addon {
    padding: 0;
    button {
      margin: 0;
      border: 0;
      border-radius: 0;
    }
  }
}