<loading ng-if="busy"></loading>
<div class="booklists-box collect-box" ng-if="!busy">
    <div class="booklists-box-top btn-group">
        <a class="btn btn-default" ui-sref="booklistsCollect">
            书单收藏夹
        </a>
        <a class="btn btn-default" ui-sref="booksCollect">
            书籍收藏夹
        </a>
    </div>
    <div class="books">
        <div class="books-content">
            <div class="books-content-list" ng-repeat="book in books">
                <a ui-sref="book({isbn: book.isbn})"><img ng-src="{{book.image}}"></a>
                <span class="title">&nbsp;{{book.title}}<i class="mark-book-remove fa fa-trash-o" ng-click="remove(book, $index)"></i></span>
                <uib-rating class="star red-star wechat-fix" ng-model="book.star" max="5" read-only="true" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></uib-rating>
                <span class="rate">&nbsp;{{book.rate}}</span>
                <blockquote class="reason">{{book.reason}}</blockquote>
            </div>
        </div>
    </div>
</div>
