{% extends 'admin/master.html' %}

{% block body %}
    <form action="save" method="post">
    <table>
    <thead>
    <tr>
        <th>订单ID</th>
        <th>申请书籍</th>
        <th>原价</th>
        <th>申请原因</th>
        <th>收货人</th>
        <th>收货地址</th>
        <th>收货人联系方式</th>
        <th>状态</th>
        <th>反馈</th>
        <th>同意</th>
        <th>驳回</th>
    </tr>
    </thead>
    <tbody>

    {% for one in billings %}
    <tr>
        <th>{{ one.pk }}</th>
        <th>《{{ one['book'].title }}》 * {{ one.number }}</th>
        <th>{{ one['book'].price }}</th>
        <th>{{ one.reason }}</th>
        <th>{{ one.billing.address.name }}</th>
        <th>{{ one.billing.address.dormitory }}</th>
        <th>{{ one.billing.address.phone }}</th>
        <th>{{ one.status_to_string(one.type) }} / {{ one.process }}</th>
        <th><input type="text" name="" id=""></th>
        <th><button>同意</button></th>
        <th><button>拒绝</button></th>
    </tr>
    {% endfor %}

    </tbody>
    </table>
    </form>
{% endblock %}