{% extends 'admin/master.html' %}

{% block body %}
    <form action="save" method="post">
    <table>
    <thead>
    <tr>
        <th>订单ID</th>
        <th>申请书籍</th>
        <th>原价</th>
        <th>申请原因</th>
        <th>收货人</th>
        <th>收货地址</th>
        <th>收货人联系方式</th>
        <th>状态</th>
        <th>反馈</th>
        <th>同意</th>
        <th>驳回</th>
    </tr>
    </thead>
    <tbody>

    {% for one in billings %}
    <tr>
        <th><input type="checkbox" name="billingid" value="{{ one.pk }}"></th>
        <th>{{ one.user.username }}</th>
        <th>{{ one.address.name }}</th>
        <th>{{ one.address.dormitory }}</th>
        <th>{% for one_cart, number in one.carts_info() %}{{ one_cart.book.title }} * {{ number }}<br />{% endfor %}</th>
        <th>{{ one.get_sum_price() }}</th>
        <th>{{ one.create_time|datetime }}</th>
        <th>{{ one.status }}</th>
    </tr>
    {% endfor %}

    </tbody>
    </table>
    <button>下一步</button>
    </form>
{% endblock %}