{% extends 'admin/master.html' %}

{% block body %}
    <table>
    <thead>
    <tr>
        <th>订单ID</th>
        <th>书籍</th>
        <th>订单总价</th>
        <th>当前时间与用户下单时间时差</th>
        <th>用户订单下单时间</th>
        <th>所属采购单下单时间</th>

        <th>收货人</th>
        <th>收货地址</th>
        <th>收货人联系方式</th>

        <th>送达</th>
    </tr>
    </thead>
    <tbody>

    {% for one in billings %}
    <tr>
        <th>{{ one.pk }}</th>
        <th>{% for one_cart, number in one.carts_info() %}{{ one_cart.book.title }} * {{ number }}<br />{% endfor %}</th>
        <th>{{ one.get_sum_price() }}</th>
        <th>{{ one.in_purchase_time - one.create_time }}</th>
        <th>{{ one.create_time|datetime }}</th>
        <th>{{ one.in_purchase_time|datetime }}</th>
        <th>{{ one.address.name }}</th>
        <th>{{ one.address.dormitory }}</th>
        <th>{{ one.address.phone }}</th>
        <th><a href="?id={{ one.pk }}">送达</a></th>
    </tr>
    {% endfor %}

    </tbody>
    </table>
{% endblock %}