<div class="cart-page">
    <div class="cart-head">
        <span>购物车</span>
        <span ng-click="vm.edit()" ng-if="!vm.editStatu">编辑</span>
        <span ng-click="vm.editOk()" ng-if="vm.editStatu">完成</span>
    </div>
    <div ng-include="'cart/cart_core_part.html'"></div>
    <div class="cart-to-order">
        <button class="btn btn-danger"
                ng-if="!vm.editStatu"
                ng-disabled="vm.count===0 || vm.editStatu"
                ng-click="vm.cart2order()">
            结算({{vm.count}})
        </button>
        <button class="btn btn-info"
                ng-if="vm.editStatu"
                ng-disabled="vm.count===0"
                promise-btn
                ng-click="vm.collect()" >
            移入收藏夹({{vm.number}})
        </button>
        <button class="btn btn-success"
                ng-if="vm.editStatu"
                ng-disabled="vm.count===0"
                promise-btn
                ng-click="vm.removeBooks()">
            删除({{vm.number}})
        </button>
        <div class="checkbox checkbox-design">
            <label><span ng-class="{true: 'active', false: ''}[vm.checked]">
                <input type="checkbox" ng-model="vm.checked" ng-click="vm.selectAll()">
            </span></label>
            <label>全选</label>
        </div>
        <div class="cart-count" ng-if="!vm.editStatu">
            <label> ¥ {{vm.price | number: 2}}</label>
        </div>
    </div>
</div>