<div class="order-page">
    <div class="order-group">
        <p class="empty" ng-if="vm.orders.length === 0">
            <i class="fa fa-rocket" aria-hidden="true"></i> 您还没有{{vm.type2}}订单
        </p>
        <ul class="order-list">
            <li class="order-list-one" ng-repeat="order in vm.orders | orderBy:'-edit_time'">
                <div class="order-title">
                    <span class="order-head">{{order.create_time * 1000 | date: 'yyyy-MM-dd HH:mm'}}</span>
                    <span class="order-status">{{order.status}}</span>
                </div>
                <a ui-sref="orderDetail({id:order.id})">
                    <ul class="order-books" style="margin-bottom: 0">
                        <li class="order-book" ng-repeat="z in order.carts">
                            <img ng-src="{{z.book.image}}">
                            <p>{{z.book.title}}</p>
                            <small ng-repeat="x in z.book.author"><small>{{x}} </small></small>
                            <span class="count"> {{z.number}}本 / 共{{z.price_sum | number:2}}元</span>
                        </li>
                    </ul>
                </a>
                <div class="order-meta">
                    <div class="order-meta-price">
                        <span class="order-price">货到付款&nbsp;&nbsp;&nbsp;<em>{{order.price}}</em> 元</span>
                    </div>
                    <a class="btn btn-danger"
                       ng-if="order.status=='待评价' && !order.replace_refund_processing"
                       style="width: 95px;" ui-sref="orderComments({id: order.id})">
                        评价
                    </a>
                    <button class="btn btn-danger" promise-btn
                            ng-if="order.replace_refund_processing"
                            disabled>
                        退换货中
                    </button>
                    <button class="btn btn-danger" promise-btn
                            ng-if="order.status=='待收货'"
                            disabled>
                        已发货啦
                    </button>
                    <button class="btn btn-danger" promise-btn
                            ng-if="order.status=='待发货'"
                            ng-click="vm.cancel(order)">
                        取消订单
                    </button>
                    <button class="btn btn-danger"
                            ng-if="order.status=='已取消'"
                            disabled>
                        已取消
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>