<div class="suggest">
    <div class="i-suggest">
        <div class="suggest-header">
            <h4>说出你的建议和看法帮助改善平台</h4>
        </div>
        <hr>
        <div class="input-group">
            <img ng-src="{{avatar}}">
        </div>
        <form class="suggestion" name="suggestBox">
            <textarea class="form-control" name="suggestion" ng-model="suggestion" ng-required="required"></textarea>
            <button type="submit" class="btn btn-block btn-info" ng-show="!wait" ng-click="post()" ng-disabled="wait2">提交</button>
            <button class="btn btn-block btn-info" ng-show="wait" disabled><wait></wait></button>
        </form>
    </div>
</div>
<div ng-if="wait2" class="animate-if"><p>提交成功，感谢您的反馈</p></div>