<loading ng-if="busy"></loading>
<div class="book-box-outer" ng-if="!busy">
    <div class="book-box">
        <header class="book-box-head">出版信息</header>
        <article class="book-box-article">
            <section>
                <span class="info" ng-if='book.title!=""'>标题: {{book.title}}</span>
                <span class="info" ng-if='book.subtitle!=""'>副标题: {{book.subtitle}}</span>
                <span class="info" ng-if='book.origin_title!=""'>原标题: {{book.origin_title}}</span>
                <span class="info" ng-if='book.author!=""'>作者：<span ng-repeat="x in book.author">{{x}} </span></span>
                <span class="info" ng-if='book.translator'!="">译者: <span ng-repeat="x in book.translator">{{x}} </span></span>
                <span class="info" ng-if='book.publisher!=""'>出版社: {{book.publisher}}</span>
                <span class="info" ng-if='book.publish_time!=""'>出版年: {{book.publish_time}}</span>
                <span class="info" ng-if='!book.page'>页数: {{book.page}}</span>
                <span class="info" ng-if='book.price!=""'>定价: {{book.price}}</span>
                <span class="info" ng-if='book.binding!=""'>装帧: {{book.binding}}</span>
                <span class="info" ng-if='book.isbn!=""'>ISBN: {{book.isbn}}</span>
            </section>
        </article>
    </div>
    <div class="book-box" ng-if='book.description!=""'>
        <header>书籍内容介绍</header>
        <article >
            <section>
                <p class="info" ng-bind-html="book.description"></p>
            </section>
        </article>
    </div>
    <div class="book-box" ng-if='book.author_intro!=""'>
        <header>作者介绍</header>
        <article>
            <section>
                <p class="info" ng-bind-html="book.author_description"></p>
            </section>
        </article>
    </div>
    <div class="book-box" ng-if='book.catelog!=""'>
        <header>目录</header>
        <article>
            <section>
                <p class="info" ng-bind-html="book.catelog"></p>
            </section>
        </article>
    </div>
</div>
