<div class="book-intro">
    <span>简介</span>
    <p ng-bind-html="vm.book.description"
       ng-class="{'book-intro-less':!vm.more,'book-intro-more':vm.more}"></p>
    <span class="btn btn-block btn-default"
          ng-show="!vm.more" ng-click="vm.more=!vm.more">
                更多
            </span>
    <span class="btn btn-block btn-default"
          ng-show="vm.more" ng-click="vm.more=!vm.more">
                收起
            </span>
</div>
<div class="book-comments">
    <span>评论</span>
    <div class="book-no-comment" ng-if="vm.book.comments.length == 0">
        <p style="color: grey">征集评论</p>
    </div>
    <div class="book-comment"
         ng-repeat="comment in vm.book.comments"
         ng-if="book.comments.length != 0">
        <div class="book-comment-origin">
            <img ng-src="{{comment.user.avatar}}">
            <span>{{comment.user.username}}</span>
            <uib-rating class="star red-star"
                        state-on="'fa fa-star'" state-off="'fa fa-star-o'"
                        ng-model="comment.star" max="5" read-only="true"></uib-rating>
        </div>
        <p class="ng-binding" ng-bind-html="comment.content"></p>
        <div class="comment-meta">
            <p>{{comment.create_time*1000 | date:'yyyy-MM-dd HH:mm'}}</p>
            <i class="fa"
               ng-class={false:'fa-thumbs-o-down',true:'fa-thumbs-down'}[comment.down_already]
               ng-click="vm.down(comment)">
                {{comment.down}}
            </i>
            <i class="fa"
               ng-class={false:'fa-thumbs-o-up',true:'fa-thumbs-up'}[comment.up_already]
               ng-click="vm.up(comment)">
                {{comment.up}}
            </i>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="book-comments-more">
        <a class="btn btn-default"
           ui-sref="commentsBook({isbn: vm.book.isbn, title: vm.book.title})">
            全部评论
        </a>
        <button class="btn btn-default"
                ng-click="vm.commentBox=!vm.commentBox;">
            我要评论
        </button>
    </div>
    <form name="commentForm" class="book-comment-box" ng-if="vm.commentBox">
        <div class="book-comment-origin">
            <img ng-src="{{vm.user.avatar}}">
            <span class="book-comment-origin">{{vm.user.username}}</span>
            <uib-rating class="star red-star"
                        state-on="'fa fa-star'" state-off="'fa fa-star-o'"
                        ng-model="vm.star" max="5" read-only="false"></uib-rating>
        </div>
        <textarea ng-model="vm.content"
                  focus-me="{{vm.commentBox}}"
                  name="content"
                  class="form-control"
                  rows="3"
                  ng-required="true"></textarea>
        <div class="book-comment-post">
            <p>评价 "{{vm.book.title}}"</p>
            <button class="btn btn-success" type="submit"
                    ng-click="vm.postComment()"
                    promise-btn>
                发表
            </button>
        </div>
    </form>
</div>
