<div class="auth-register">
    <div class="bg"><span>书生LifeBrary</span></div>
    <form name="vm.form" ng-submit="vm.register(user)" novalidate>
        <div uib-alert ng-repeat="alert in vm.alerts" class="alert-warning" >{{alert}}</div>
        <div class="form-group">
            <label for="name">用户名</label>
            <input type="text" class="form-control" id="name" name="name" required placeholder="请输入用户名" ng-model="user.name">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password" ng-minlength="6" ng-maxlength="20" required placeholder="请输入密码" ng-model="user.password">
        </div>
        <div class="form-group">
            <label for="password_repeat">密码</label>
            <input type="password" class="form-control" id="password_repeat" name="password_repeat" required placeholder="重复输入密码" ng-model="user.password_repeat">
        </div>
        <input type="submit" class="btn btn-default" value="Submit">
    </form>
</div>