{% extends 'admin/master.html' %}

{% block body %}

    <div class="billing-item">
        <div class="billing-item-user">

            <a href="#">{{ billing.user }}</a>
        </div>
        <div class="billing-item-status">
            {{ billing.status }}
        </div>
        <div class="billing-item-cart-list">
            {% for cart in billing.list %}
                <p>《{{ cart.book.title }}》*{{ cart.number }}</p>
            {% endfor %}
        </div>
        <div class="billing-item-status-list">
            {% for status in billing.status_list %}
                <p>{{ status }}</p>
            {% endfor %}
        </div>
        <div class="billing-item-address">
            <a href="#">{{ billing.address }}</a>
        </div>
        <div class="billing-item-price">
            {{ billing.price }}

        </div>
        <div class="billing-item-time">
            <p>{{ billing.create_time }}</p>
            <p>{{ billing.edit_time }}</p>
        </div>
    </div>

    <hr />
    <div class="transfer">
        <h2>强制状态更改</h2>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='create') }}">create|创建</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='pending') }}">pending|待发货</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='waiting') }}">waiting|待收获</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='commenting') }}">commenting|待评价</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='done') }}">done|已完成</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='canceled') }}">canceled|已取消</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='refund') }}">refund|申请退款中</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='refunding') }}">refunding|退款中</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='refunded') }}">refunded|退款完成</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='replace') }}">replace|申请换货中</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='replacing') }}">replacing|换货中</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='replaced') }}">replaced|换货完成</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='refund_refused') }}">refund_refused|退款失败</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='replace_refused') }}">replace_refused|换货失败</a>
        <a href="{{ url_for('billingview.change_status', billing_id=billing.pk, status='close') }}">close|已关闭</a>


    </div>
     <hr />
    <div class="operator">
        {% if billing.status=='pending' %}
        <form action="{{ url_for('billingview.next', billing_id=billing.pk, status='pending') }}" method="POST" class="p2w">
            <p>发货处理 pending -> waiting</p>
            <input type="text" name="content">
            <button>发货</button>
        </form>
        <hr />
        {% endif %}

        {% if billing.status=='refund' %}
        <form action="{{ url_for('billingview.next', billing_id=billing.pk, status='refund') }}" method="POST" class="r2ed">
            <p>退款申请 yes: refund - > refunding, no: refund -> refund_refused</p>
            <input type="checkbox" class="checkbox" name="is_ok">是否同意退款
            <input type="text" name="content">
            <button>处理</button>
        </form>
        <hr />
        {% endif %}

        {% if billing.status=='refunding' %}
        <form action="{{ url_for('billingview.next', billing_id=billing.pk, status='refunding') }}" method="POST" class="r2ed">
            <p>确认退款处理 yes: refunding - > refunded, no: refunding -> refund_refused</p>
            <input type="checkbox" class="checkbox" name="is_ok">是否确认可以退款
            <input type="text" name="content">
            <button>处理</button>
        </form>
        <hr />
        {% endif %}


{#        <form action="" method="POST" class="r2ed">#}
{#            <p>退货申请</p>#}
{#            <input type="checkbox" class="checkbox" name="is_ok">是否同意退货#}
{#            <button>处理</button>#}
{#        </form>#}
{#        <hr />#}

        {% if billing.status=='replace' %}
        <form action="{{ url_for('billingview.next', billing_id=billing.pk, status='replace') }}" method="POST" class="r2ed">
            <p>换货申请 yes: replace - > replacing, no: replace -> replace_refused</p>
            <input type="checkbox" class="checkbox" name="is_ok">是否同意换货
            <input type="text" name="content">
            <button>处理</button>
        </form>
        <hr />
        {% endif %}


        {% if billing.status=='replacing' %}
        <form action="{{ url_for('billingview.next', billing_id=billing.pk, status='replacing') }}" method="POST" class="r2ed">
            <p>确认换货处理 yes: replacing - > replaced, no: replacing -> replace_refused</p>
            <input type="checkbox" class="checkbox" name="is_ok">是否确认换货成功
            <input type="text" name="content">
            <button>处理</button>
        </form>
        <hr />
        {% endif %}
    </div>
    <hr />
{% endblock %}