{% extends 'admin/master.html' %}

{% block body %}
        <div class="transfer">
        <h2>单独状态查看</h2>
        <a href="{{ url_for('billingview.index') }}">默认</a>
        <a href="{{ url_for('billingview.index', type='create') }}">create|创建</a>
        <a href="{{ url_for('billingview.index', type='pending') }}">pending|待发货</a>
        <a href="{{ url_for('billingview.index', type='waiting') }}">waiting|待收获</a>
        <a href="{{ url_for('billingview.index', type='commenting') }}">commenting|待评价</a>
        <a href="{{ url_for('billingview.index', type='done') }}">done|已完成</a>
        <a href="{{ url_for('billingview.index', type='canceled') }}">canceled|已取消</a>
        <a href="{{ url_for('billingview.index', type='refund') }}">refund|申请退款中</a>
        <a href="{{ url_for('billingview.index', type='refunding') }}">refunding|退款中</a>
        <a href="{{ url_for('billingview.index', type='refunded') }}">refunded|退款完成</a>
        <a href="{{ url_for('billingview.index', type='replace') }}">replace|申请换货中</a>
        <a href="{{ url_for('billingview.index', type='replacing') }}">replacing|换货中</a>
        <a href="{{ url_for('billingview.index', type='replaced') }}">replaced|换货完成</a>
        <a href="{{ url_for('billingview.index', type='refund_refused') }}">refund_refused|退款失败</a>
        <a href="{{ url_for('billingview.index', type='replace_refused') }}">replace_refused|换货失败</a>
        <a href="{{ url_for('billingview.index', type='close') }}">close|已关闭</a>


    </div>
    <div class="billing-list">
    {% for billing in billings %}
        <div class="billing-item">
            <div class="billing-item-user">

                <a href="#">{{ billing.user }}</a>
            </div>
            <div class="billing-item-status">

                <a href="/admin/billingview/detail/{{ billing.pk }}">{{ billing.status }}</a>
            </div>
            <div class="billing-item-status-list">
                {% for status in billing.status_list %}
                    <p>{{ status }}</p>
                {% endfor %}
            </div>
            <div class="billing-item-address">
                <a href="#">{{ billing.address }}</a>
            </div>
            <div class="billing-item-price">
                {{ billing.price }}

            </div>
            <div class="billing-item-time">
                <p>{{ billing.create_time }}</p>
                <p>{{ billing.edit_time }}</p>
            </div>
            <div class="billing-item-operator">
                <a href="/admin/billingview/detail/{{ billing.pk }}">详细</a>
                <a href="">取消</a>
            </div>
        </div>

    {% endfor %}
    </div>

{% endblock %}