<div class="setting">
    <form name="addressForm">
        <div class="form-group">
            <label>收货人</label>
            <input type="text" name="name" maxlength=10
                   ng-required=true ng-model="name" focus-me="{{correct_name}}" class="form-control" placeholder="姓名">
        </div>
        <div class="form-group">
            <label>手机号码</label>
            <input type="number" name="phone" ng-model="phone" class="form-control" placeholder="11位手机号"
                   ng-required=true ng-minlength="11" ng-maxlength="11" focus-me="{{correct_phone}}" ng-change="check()">
        </div>
        <div class="form-group">
            <label>宿舍地址</label>
            <input type="text" name="dorm" ng-model="dorm" maxlength=30 class="form-control"
                   ng-required=true focus-me="{{correct_dorm}}" placeholder="宿舍位置">
        </div>
        <div class="btn-group">
            <button class="btn btn-success" type="submit" ui-sref="AddressAdd" ng-click="add()">添加</button>
            <button class="btn btn-danger" type="button" ng-if="deleteBox" ng-click="delete(id)">删除</button>
            <button class="btn btn-default" ng-click="return()">返回</button>
        </div>
    </form>
</div>
<div ng-if="correct_name" class="animate-if"><p>姓名信息有误</p></div>
<div ng-if="correct_phone" class="animate-if"><p>手机信息有误</p></div>
<div ng-if="correct_dorm" class="animate-if"><p>宿舍信息有误</p></div>
<div ng-if="ok" class="animate-if"><p>添加成功</p></div>