.setting-address-page {
  z-index: 333;
  background-color: #fff;
  .address-list {
    padding: 15px;
    position: relative;
    border-bottom: 1px solid #EEEEEE;
    p {
      margin-bottom: 5px;
    }
    small {
      color: #777;
    }
    span {
      position: absolute;
      bottom: 23px;
      right: 10px;
      border: 1px solid #F44336;
      color: #F44336;
      padding: 4px 8px;
    }
  }
  .btn-group {
    padding: 8px;
    display: block;
    width: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    button {
      float: right;
      border-radius: 0 !important;
      margin-left: 10px!important;
    }
  }
}