<div class="setting">
    <form name="vm.addressForm">
        <div class="form-group">
            <label>收货人</label>
            <input type="text" name="name" maxlength=10
                   ng-required=true ng-model="vm.name" class="form-control" placeholder="姓名">
        </div>
        <div class="form-group">
            <label>手机号码</label>
            <input type="tel" name="phone" ng-model="vm.phone"
                   class="form-control" placeholder="11位手机号" my-maxlength="11"
                   ng-required=true ng-minlength="11" ng-maxlength="11"
                   minlength='11' maxlength='11'>
        </div>
        <div class="form-group">
            <label>宿舍地址</label>
            <div class="input-group">
                <div class="input-group-addon">华南师范大学</div>
                <input type="text" name="dorm" ng-model="vm.dormitory"
                   maxlength=30 class="form-control"
                   ng-required=true placeholder="仅支持华师石牌校区配送哦">
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-success" promise-btn
                    ng-if="!vm.edit" ng-click="vm.addAddress()">添加</button>
            <button class="btn btn-success" promise-btn
                    ng-if="vm.edit" ng-click="vm.updateAddress()">修改</button>
            <button class="btn btn-danger" promise-btn
                    ng-if="vm.edit" ng-click="vm.deleteAddress(vm.id)">删除</button>
            <button class="btn btn-info" promise-btn
                    ng-if="vm.edit" ng-click="vm.setDefaultAddress(vm.id)">设为默认</button>
            <button class="btn btn-default" ng-click="vm.back()">返回</button>
        </div>
    </form>
</div>