<loading ng-if="busy"></loading>
<div class="order-group" ng-if="!busy">
    <ul class="order-list">
        <li class="order-list-one">
            <div class="order-title">
                <span class="order-head">订单详细信息</span>
                <span class="order-status">共{{price}}元</span>
            </div>
            <ul class="order-books">
                <a class="order-book" ui-sref="book({isbn: book.isbn})" ng-repeat="z in order.carts">
                    <img ng-src="{{z.book.image}}">
                    <p>{{z.book.title}}</p>
                    <small ng-repeat="x in z.book.author"><small>{{x}} </small></small>
                    <span class="count"> {{z.number}}本 / 共{{z.price*z.number | number:2}}元</span>
                </a>
            </ul>
            <div class="order-detail">
                <div class="order-title">
                    <span class="order-head">订单状态</span>
                    <span class="order-status">{{order.status}}</span>
                </div>
                <ul class="order-process">
                    <li ng-repeat="x in status_list">
                        <span>{{x.status}}</span>
                        <span>{{x.time*1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                    </li>
                </ul>
            </div>
            <div class="order-receipt">
                <div class="order-title">
                    <span class="order-head">订单收货信息</span>
                </div>
                <div class="order-receipt-meta">
                    <p>收货人: {{order.address.name}}</p>
                    <p>联系电话: {{order.address.phone}}</p>
                    <p>收货地址: {{order.address.dormitory}}</p>
                </div>
            </div>
            <div class="order-detail-clear"></div>
            <div class="order-meta order-meta-fix-bottom">
                <div class="order-meta-price">
                    <span class="order-method">货到付款</span>
                    <span class="order-price">实付款 {{price}} 元</span>
                </div>
                <a class="btn btn-default" ng-if="order.status=='待评价'" ui-sref="orderComments({id: order.id})">评价</a>
                <button class="btn btn-default" ng-if="order.status!='待评价'" ng-click="receipt(order)">确认收货</button>
            </div>
        </li>
    </ul>
</div>
