.books-content {
  background-color: white;
  list-style: none;
  overflow: hidden;
  padding: 30px 10px 10px;
  .books-content-list {
    border-bottom: 1px solid #F7F7F7;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    padding: 0;
    float: left;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
    img {
      margin: 0 10px 0 0;
      max-width: 80px;
      float: left;
      box-shadow: 0 0 4px rgba(0,0,0,.1);
      border: 1px solid #dadada;
    }
    .title {
      display: block;
    }
    blockquote {
      padding: 10px;
      margin: 6px 0 6px 90px;
      color: #555;
      font-size: 13px;
      line-height: 1.5;
      border-left: 1px solid #4CAF50;
      background: #F5F5F5;
    }
  }
}