.topbar {
  box-shadow: none;
  padding: 0;
  min-height: 30px;
  border-radius: 0;
  background-color: #FFF;
  border-bottom: 1px solid #eee;
  margin: 0;
  a {
    color: #000 !important;
    padding: 12px;
    height: auto;
  }
}