<loading ng-if="busy"></loading>
<ul class="comments" ng-if="!busy">
    <div class="empty-alert" ng-if="comments.length==0">
        <p>您还没有评论，快去评论书籍吧</p>
    </div>
    <li ng-repeat="comment in comments">
        <div class="comment-title">
            <div class="comment-action">
                <i class="fa fa-trash-o" ng-click="deleteBox=true"></i>
                <i class="fa fa-pencil-square-o" ng-click="focus(this)"></i>
            </div>
            <p>{{comment.book.title}}</p>
        </div>
        <form name="commentForm" class="comment-book">
            <a ui-sref="book({isbn:comment.book.isbn})">
                <img ng-src="{{comment.book.image}}">
            </a>
            <div class="comment-content">
                <textarea class="form-control" rows="3" name="content" ng-required="required"
                          ng-model="comment.content" ng-readonly="readonly" focus-me="{{edit}}"></textarea>
            </div>
            <div class="comment-star">
                <i class="fa fa-thumbs-o-up comment-up">{{comment.up}}</i>
                <i class="fa fa-thumbs-o-down comment-down">{{comment.down}}</i>
                <button ng-show="edit&&!wait" class="btn btn-success" ng-click="submit(this)">确认修改</button>
                <button class="btn btn-success" ng-show="wait" style="width: 80px" ng-show="wait" disabled><wait></wait></button>
                <uib-rating ng-model="comment.star" max="5" read-only="!edit" class="red-star star"
                            ng-class="{true: 'comment-star-left'}[edit]"
                            state-on="'fa fa-star'" state-off="'fa fa-star-o'"></uib-rating>
            </div>
        </form>
        <div ng-show="deleteBox" class="modal-dialog">
            <div class="modal-header">
                <h4 class="modal-title">你确认要删除评论吗?</h4>
            </div>
            <div class="modal-body">
                <p>巴拉拉巴拉拉把啦啦啦啦啦啦把啦啦啦啦啦啦吧啦啦啦啦啦巴拉巴拉巴拉吧啦啦啦啦啦。</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-show="!clickBuy&&!wait" ng-click="delete(comment.id, $index)">确认</button>
                <button class="btn btn-primary" type="button" ng-show="wait" style="width: 54px"><wait></wait></button>
                <button class="btn btn-warning" type="button" ng-click="deleteBox=false">取消</button>
            </div>
        </div>
        <div ng-show="deleteBox" class="modal-backdrop fade in" style="z-index: 1040;"></div>
    </li>
</ul>
<div ng-if="wait3" class="animate-if"><p>评论删除成功</p></div>