<div class="booklist-page">
    <div ng-include="'booklist/booklist_head_part.html'"></div>
    <div class="books">
        <a class="book"
           ng-repeat="book in vm.booklist.books track by book.isbn"
           ui-sref="book({isbn: book.isbn})">
            <div class="book-image">
                <img class="cover cover-sm" ng-src="{{book.image}}">
                <img class="cover-bg" ng-src="{{book.image}}">
            </div>
            <div class="book-info">
                <div class="book-info-top">
                    <span class="title">{{book.title}}</span>
                    <div class="rate">
                        <span>&nbsp;{{book.rate}}</span>
                        <uib-rating class="red-star wechat-fix"
                                    ng-model="book.star"
                                    max="5"
                                    read-only="true"
                                    state-on="'fa fa-star'"
                                    state-off="'fa fa-star-o'"></uib-rating>
                    </div>
                </div>
                <span class="author" ng-if='book.author!=""'>
                    <span ng-repeat="x in book.author track by $index">{{x}} </span>
                </span>
            </div>
            <div class="reason">
                <p ng-bind-html="book.reason"></p>
            </div>
        </a>
    </div>
    <div class="booklist-bottom">
        <button class="btn"
                ng-click="vm.collect()"
                promise-btn>
            <i ng-if="!vm.booklist.collect_already" class="fa fa-bookmark-o"></i>
            <i ng-if="vm.booklist.collect_already" class="fa fa-bookmark"></i>
            {{vm.booklist.collect}}
        </button>
        <button class="btn"
                ng-click="vm.collect()"
                promise-btn>
            <i ng-if="!vm.booklist.collect_already" class="fa fa-heart-o"></i>
            <i ng-if="vm.booklist.collect_already" class="fa fa-heart"></i>
            {{vm.booklist.collect}}
        </button>
        <button class="btn"
                ng-click="vm.collect()"
                promise-btn>
            <i class="fa fa-comment-o"></i>
            {{vm.booklist.collect}}
        </button>
    </div>
</div>
