<div class="suggest">
    <div class="i-suggest">
        <div class="suggest-header">
            <h4><i class="fa fa-rocket" aria-hidden="true"></i> 说出你的建议和看法帮助改善平台</h4>
        </div>
        <hr>
        <div class="input-group">
            <img ng-src="{{vm.user.avatar}}">
        </div>
        <form class="suggestion" name="vm.suggestBox">
            <textarea class="form-control" name="suggestion" required autofocus
                      ng-model="vm.suggestion"></textarea>
            <input type="submit" class="btn btn-block btn-info" promise-btn
                    ng-click="vm.post()">
        </form>
    </div>
</div>
