.booklists-page {
  .tags {
    background-color: #fff;
    padding: 0;
    .tags-header {
      padding: 10px 5px;
      overflow: hidden;
      margin: 0 12px;
      font-size: 15px;
      p {
        float: left;
        margin-bottom: 0;
      }
      a {
        font-weight: 500;
        font-size: 13px;
        border-radius: 0;
        float: right;
      }
    }
    .tags-list {
      margin: 0 10px;
      display: block;
      overflow: hidden;
      .tag {
        margin: 0 15px 10px 0;
        border: 1px dashed #DADADA;
        color: #000000;
        font-weight: bold;
        font-size: 12px;
        border-radius: 0;
      }
    }
  }
}