<div class="books-similarity" ng-if="vm.booksBought.length != 0">
    <span>购买此书的人最近也购买</span>
    <book-slide ng-init="vm.booksBought=[]" books=vm.booksBought></book-slide>
</div>
<div class="booklists-box" ng-if="vm.booklists.length != 0">
    <span>被以下书单收录</span>
    <div class="booklists-box-content">
        <a ng-repeat="booklist in vm.booklists" ui-sref="booklist({id: booklist.id})">
            <img ng-src="{{booklist.image}}">
            <span class="title">{{booklist.title}}</span>
            <span class="collect">{{booklist.collect}}人收藏</span>
            <div class="booklist-tag">
                <div class="tag" ng-repeat="tag in booklist.tags">{{tag}}</div>
            </div>
        </a>
    </div>
</div>
