<div class="user-comments-page">
    <ul class="comments">
        <li ng-repeat="comment in vm.comments track by $index">
            <div class="comment-title">
                <div class="comment-action">
                    <i class="fa fa-trash-o" ng-click="comment.deleteBox=true"></i>
                    <i class="fa fa-pencil-square-o" ng-click="vm.focus(comment)"></i>
                </div>
                <p>{{comment.book.title}}</p>
            </div>
            <form name="commentForm" class="comment-book">
                <a ui-sref="book({isbn:comment.book.isbn})">
                    <img ng-src="{{comment.book.image}}">
                </a>
                <div class="comment-content">
                <textarea class="form-control"
                          rows="3"
                          name="content"
                          ng-required="true"
                          ng-model="comment.content"
                          ng-bind-html="comment.content"
                          ng-readonly="comment.readonly"
                          focus-me="{{comment.edit}}"></textarea>
                </div>
                <div class="comment-star">
                    <i class="fa fa-thumbs-o-up comment-up">{{comment.up}}</i>
                    <i class="fa fa-thumbs-o-down comment-down">{{comment.down}}</i>
                    <button ng-if="comment.edit" class="btn btn-success"
                            promise-btn ng-click="vm.submit(comment)">
                        确认修改
                    </button>
                    <uib-rating ng-model="comment.star"
                                max="5"
                                read-only="!comment.edit"
                                class="red-star star"
                                ng-class="{true: 'comment-star-left'}[comment.edit]"
                                state-on="'fa fa-star'"
                                state-off="'fa fa-star-o'"></uib-rating>
                </div>
            </form>
            <delete-box content="comment" commit=vm.delete(comment) cancel="comment.deleteBox"
                        ng-if="comment.deleteBox"></delete-box>
        </li>
    </ul>
    <p class="empty" ng-if="!vm.comments.length">没有评论</p>
</div>