<loading ng-if="busy"></loading>
<div class="points" ng-if="!busy">
    <div class="point-history">
        <div class="point-header">
            <span>当前积分: {{user.point}}</span>
        </div>
        <ul class="point-list">
            <li ng-repeat="x in points">
                <span class="point-title">{{x.title}}</span>
                <span class="point-result" ng-if="x.point>0">+ {{x.point}}</span>
                <span class="point-result" ng-if="x.point<0">- {{x.point}}</span>
            </li>
        </ul>
    </div>
</div>
