.collect-booklists-page,
.collect-books-page {
  .switch {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    width: 100%;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    a,
    button {
      border: none;
      text-align: center;
      border-radius: 0;
      width: 50%;
      padding: 10px;
    }
  }
  .booklists-row {
    margin-top: 40px;
  }
}