.booklists-page {
  .tags {
    background-color: #fff;
    margin-bottom: 20px;
    .tags-header {
      @extend .header;
      p {
        float: left;
        margin-bottom: 0;
      }
      a {
        font-weight: 500;
        font-size: 13px;
        border-radius: 0;
        float: right;
      }
    }
    .tags-list {
      margin: 0 10px 10px 10px;
      display: block;
      overflow: hidden;
      .tag {
        margin: 0 15px 10px 0;
        border: 1px dashed #DADADA;
        color: #000000;
        font-weight: bold;
        font-size: 12px;
        border-radius: 0;
      }
    }
  }
  .booklists {
    background: #ffffff;
    .order {
      width: 100%;
      border-bottom: 1px solid #eee;
      button {
        border: none;
        border-radius: 0;
        width: 50%;
        padding: 10px;
      }
    }
    .booklists-list {
      @extend .header;
      i {
        float: left;
        padding-right: 5px;
        line-height: 1.4;
        span {
          float: left;
        }
      }
      .booklist {
        color: #009688;
        font-weight: 500;
        font-size: 13px;
        float: right;
      }
    }
  }
}