$font: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
$bgColor: #f7f7f7;
$grayColor: #9C9C9C;
$star: red;

@mixin box-shadow($shadow...) {
  -webkit-box-shadow:$shadow;
  box-shadow:$shadow;
}
@mixin box-sizing($box) {
  -webkit-box-sizing: $box;
  -moz-box-sizing: $box;
  -o-box-sizing: $box;
  -ms-box-sizing: $box;
  box-sizing: $box;
}
@mixin blur($filter) {
  -webkit-filter: blur($filter);
  filter: blur($filter);
}

::-webkit-scrollbar {
  display: none;
}
::-ms-tooltip {
  display: none;
}

.btn-blue {
  color: #fff;
  background-color: #2196F3;
  border-color: #2196F3;
  border-radius: 0;
}
.btn-default {
  color: black !important;
}


body {
  font-family: $font;
  background-color: $bgColor;
}
p {
  white-space: pre-wrap;
}

a {
  color: #000000;
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: none;
    color: #000000;
  }
}

.red-star{
  color: $star;
}
.header {
  padding: 10px 5px;
  overflow: hidden;
  margin: 0 12px;
  font-size: 15px;
}
.bookist-view {
  margin-bottom: 50px;
}
.bookist-nav {
  background-color: #ffffff;
  margin: 0;
  border-width: 0;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1030;
  ul {
    margin: 0;
    width: 100%;
    padding-left: 0;
    li {
      text-align: center;
      float: left;
      width: 25%;
      a {
        padding: 5px;
        i:before {
          height: 19px;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
.wechat-fix {
  i:before{
    padding: 0 1px;
  }
  .sr-only {
    height: 0 !important;
  }
}

.book-comments {
  .book-comment {
    padding-bottom: 5px;
    .comment-meta {
      overflow: hidden;
      width: 100%;
      display: block;
      padding-bottom: 5px;
      border-bottom: 1px solid #eee;
      p {
        color: #828282;
        float: left;
        margin-bottom: 0;
        padding: 5px 10px 5px 0;
      }
      i {
        float: right;
        padding: 5px 10px;
        &:before {
          padding-right: 5px;
        }
      }
    }
    &:last-child .comment-meta{
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  .book-no-comment {
    padding: 15px;
    text-align: center;
    font-size: 14px;
  }
}
.book-comment-origin{
  margin: 10px 0;
  color: #a6a6a6;
  img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  span:first-child {
    padding-left: 5px;
  }
  .star {
    float: right;
    line-height: 2.5;
  }
}
.cart-to-order {
  position: fixed;
  z-index: 9999;
  bottom: 50px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  .checkbox {
    height: auto;
    position: absolute;
    left: 15px;
    label {
      &:last-child {
        height: 24px;
        float: right;
        padding-left: 10px;
      }
      position: initial;
      span {
        position: initial;
        right: 0;
      }
    }
  }
  .cart-count {
    float: right;
    label {
      color: #D9534F;
      padding: 8px 10px 8px 0;
    }
  }
  button {
    padding: 10px 20px;
    border-radius: 0;
    float: right;
  }
}
.make-order {
  background-color: white;
  bottom: 0;
  button {
    border-radius: 0;
    float: right;
    padding: 6px 12px;
    margin: 6px;
    font-size: 14px;
  }
  .cart-count {
    line-height: 2.2;
    padding-left: 20px;
    float: left;
    label {
      margin-bottom: 0;
    }
  }
}
.collect-box {
  .booklists-box-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    width: 100%;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    a,
    button {
      border: none;
      border-radius: 0;
      width: 50%;
      padding: 10px;
    }
  }
  .booklists-box-content,
  .books {
    margin-top: 40px;
  }
  .books .title i {
    float: right;
  }
}
.comments {
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 0;
  li {
    &:last-child {
      margin-bottom: 0;
    }
    p {
      word-break: break-all;
      margin-bottom: 0;
      margin-right: 55px;
    }
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 20px;
    background-color: #fff;
    .comment-title {
      padding: 10px 5px;
      overflow: hidden;
      font-size: 15px;
      font-weight: 700;
      .comment-action {
        width: 55px;
        overflow: hidden;
        display: block;
        float: right;
        i {
          float: right;
          &:first-child {
            padding-left: 20px;
          }
        }
      }
    }
    .comment-book {
      overflow: hidden;
      display: block;
      border-top: 1px solid #EFEFEF;
      border-bottom: 1px solid #EFEFEF;
      a {
        display: block;
        overflow: hidden;
        float: left;
        padding: 10px 5px;
        img {
          height: 100px;
          float: left;
          margin-right: 10px;
        }
      }
    }
    .comment-content {
      overflow: hidden;
      padding: 10px 0;
      display: block;
      textarea {
        float: left;
        padding: 0;
        border: 0;
        box-shadow: none;
        overflow: auto;
        resize: none;
        height: 120px;
        outline: 0;
        background-color: #ffffff;
      }
    }
    .comment-star {
      padding: 10px;
      display: block;
      overflow: hidden;
      width: 100%;
      .comment-down,
      .comment-up {
        padding-right: 10px;
        &:before {
          padding-right: 5px;
        }
      }
      span {
        float: right;
      }
      button {
        position: absolute;
        right: 0;
        margin-top: -10px;
        height: 40px;
        border: 0;
        border-radius: 0;
      }
      &-left {
        margin-right: 80px!important;
      }
    }
  }
}
.modal-dialog {
  opacity: 1;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  z-index: 1070;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  transition: opacity .15s linear;
  width: 100%;
  position: fixed;
  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    .modal-title {
      margin: 0;
      line-height: 1.42857143;
      font-size: 18px;
    }
    .modal-body {
      position: relative;
      padding: 15px;
    }
    .modal-footer {
      padding: 15px;
      text-align: right;
      border-top: 1px solid #e5e5e5;
      button {
        margin-bottom: 0;
        margin-left: 5px;
      }
    }
  }
}
.order-comment-fix-bottom {
  background-color: #fff;
  border-top: 1px solid #D9534F;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  button {
    overflow: hidden;
    padding: 12px;
    border: 0;
    border-radius: 0;
    font-size: 15px;
    float: right;
    line-height: 1.9;
  }
}
.platform-comment {
  background-color: #ffffff;
  &-title {
    overflow: hidden;
    display: block;
    padding: 10px;
  }
  &-items {
    padding: 10px;
    li {
      display: block;
      overflow: hidden;
      padding: 5px 0;
      list-style: none;
      .star {
        float: right;
      }
    }
  }
}
.setting {
  z-index: 333;
  background-color: #fff;
  padding: 15px;
  .address-list {
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #EEEEEE;
    &:first-child {
      padding-top: 0;
    }
    p {
      margin-bottom: 5px;
    }
    small {
      color: #777;
    }
    span {
      position: absolute;
      bottom: 10px;
      right: 0;
      border: 1px solid #F44336;
      color: #F44336;
      padding: 4px 8px;
    }
  }
  textarea {
    width: 100%;
    border: {
      top: 0;
      left: 0;
      right: 0;
      bottom: 1px solid #0b97c4;
    }
    &,
    &:hover,
    &:active,
    &:visited,
    &:focus {
      box-shadow: 0 0 0 0;
    }
    border-radius: 0;
  }
  .number {
    float: right;
    color: #777;
    font-size: 12px;
    margin-top: 5px;
  }
  .btn-group {
    margin: 30px auto 10px;
    display: block;
    width: 100%;
    overflow: hidden;
    button {
      float: right;
      border-radius: 0 !important;
      margin-left: 10px!important;
    }
  }
}
.colorBar {
  height: 3px;
  background: url(/static/images/colourBar.png) top left repeat-x;
  box-shadow: 0 -1px 2px #ebebeb;
  background-size: contain;
}
.rarrow {
  background: url(/static/images/arrow_r.png) no-repeat right center;
  -webkit-background-size: 18px 15px;
}
.animate-if {
  position: fixed;
  background-color: #FFF;
  width: 100%;
  bottom: 50px;
  text-align: center;
  height: 37px;
  p {
    color: #777777;
    font-size: 12px;
    margin: 10px auto;
  }
  transition: 0.3s bottom, 0.3s height, all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.animate-if-2 {
  bottom: 92px;
}
.animate-if-2.ng-enter,
.animate-if-2.ng-leave {
  height: 0;
}
.animate-if.ng-enter,
.animate-if.ng-leave {
  height: 0;
}
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0;
  transition: 0.3s opacity;
}
.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1;
  transition: 0.3s opacity;
}
.edit-name,
.edit-name:hover,
.edit-name:focus,
.edit-name:active {
  text-align: right;
  padding-right: 0;
  float: right;
  height: 20px;
  border: 0;
  width: auto;
  box-shadow: 0 0 0 0;
}
.empty-alert {
  text-align: center;
  padding: 20px;
  background-color: transparent;
}
.loading-more{
  display: block;
  text-align: center;
  background-color: transparent;
  i {
    padding: 10px;
    color: #000000;
  }
}
.loading{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  background-color: #F7F7F7;
  z-index: 9999;
  img {
    width: 200px;
  }
}
@keyframes bounce_circularG{
  0%{
    transform:scale(1);
  }

  100%{
    transform:scale(.3);
  }
}

@-webkit-keyframes bounce_circularG{
  0%{
    -webkit-transform:scale(1);
  }

  100%{
    -webkit-transform:scale(.3);
  }
}
#notie-confirm-inner,
#notie-input-inner,
#notie-select-inner,
#notie-alert-inner{
  padding: 10px !important;
}