<div class="booklist-header">
    <img class="booklist-image-cover" ng-src="{{vm.booklist.image}}">
    <h3>{{vm.booklist.title}}</h3>
    <p class="booklist-intro">{{vm.booklist.description}}</p>
    <img class="avatar" ng-src="{{vm.booklist.author.avatar}}">
    <small>{{vm.booklist.author.name}} / {{vm.booklist.collect}}人收藏</small>
    <button class="btn btn-blue" ng-click="vm.collect()" ng-if="!vm.booklist.collect_already&&!vm.wait">
        <i class="fa fa-bookmark-o"></i> 收藏书单
    </button>
    <button class="btn btn-blue" ng-if="vm.wait" disabled>
        <wait></wait>
    </button>
    <button class="btn btn-blue" ng-click="vm.collect()" ng-if="vm.booklist.collect_already&&!vm.wait">
        <i class="fa fa-bookmark"></i> 已收藏
    </button>
</div>
<div class="booklist-tags">
    <div class="booklist-tags-outer">
        <div class="booklist-tags-inner">
            <span class="tag">标签</span>
            <a class="tag" ng-repeat="tag in vm.booklist.tags track by $index" ui-sref="tagBooklists({tag: tag})">{{tag}}</a>
        </div>
    </div>
</div>