<div class="booklist">
    <div ng-include="'booklist/booklist_head_part.html'"></div>
    <div class="booklist-books slides-box-content">
        <a ng-repeat="book in vm.booklist.books track by book.isbn" ui-sref="book({isbn: book.isbn})">
            <div class="book-image">
                <img class="cover cover-sm" ng-src="{{book.image}}">
                <img class="cover-bg" ng-src="{{book.image}}">
            </div>
            <div class="book-message">
                <div class="book-message-top">
                    <span class="book-message-top-title">{{book.title}}</span>
                    <div class="book-message-top-rate">
                        <span>&nbsp;{{book.rate}}</span>
                        <uib-rating class="red-star"
                                    ng-model="book.star"
                                    max="5"
                                    read-only="true"
                                    state-on="'fa fa-star'"
                                    state-off="'fa fa-star-o'"></uib-rating>
                    </div>
                </div>
                <span class="book-message-author" ng-if='book.author!=""'>
                    <span ng-repeat="x in book.author track by $index">{{x}} </span>
                </span>
            </div>
            <div class="book-reason">
                <p name="reason" ng-bind-html="book.reason"></p>
            </div>
        </a>
    </div>
</div>
