<loading ng-if="busy"></loading>
<div class="shop-group" ng-if="!busy">
    <div class="shop-cart-head">
        <span>购物车</span>
        <span ng-click="edit()" ng-if="!editStatu">编辑</span>
        <span ng-click="editOk()" ng-if="editStatu">完成</span>
    </div>
    <ul class="shop-cart-list">
        <div class="empty-alert" ng-if="items.length==0">
            <p>购物车为空，快去逛逛吧</p>
        </div>
        <li ng-repeat="item in items">
            <div class="shop-cart-item">
                <div class="checkbox">
                    <label><span ng-class="item.status">
                        <input type="checkbox" ng-model="item.checked" ng-click="select(item.status)">
                    </span></label>
                </div>
                <a class="cart-book-image" ui-sref="book({isbn: item.book.isbn})">
                    <img ng-src="{{item.book.image}}">
                </a>
                <div class="cart-book-name">
                    <a ui-sref="book({isbn: item.book.isbn})">{{item.book.title}}</a>
                </div>
                <p class="cart-book-price"> ¥ {{item.price | number:2 }}</p>
                <span class="cart-book-count" ng-if="!editStatu"> X {{ item.number }}</span>
                <div class="cart-book-edit" ng-if="editStatu">
                    <i class="fa fa-trash-o fa-1x" ng-click="removeBook(item, $index)" aria-hidden="true"></i>
                    <div class="cart-book-edit-count">
                        <i class="fa fa-minus" aria-hidden="true" ng-click="minus(item)"></i>
                        <input type="number" ng-model="item.number" ng-change="editBook(item)">
                        <i class="fa fa-plus" aria-hidden="true" ng-click="plus(item)"></i>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="cart-to-order">
        <button class="btn btn-danger" ng-if="!editStatu" ng-disabled="count===0 || editStatu" ng-click="cart2order()">结算({{count}})</button>
        <button class="btn btn-info" ng-if="editStatu" ng-disabled="count===0" ng-click="collect()">移入收藏夹({{number}})</button>
        <button class="btn btn-success" ng-if="editStatu" ng-disabled="count===0" ng-click="delete()">删除({{number}})</button>
        <div class="checkbox">
            <label><span ng-class="status">
                <input type="checkbox" ng-model="checked" ng-click="selectAll()">
            </span></label>
            <label>全选</label>
        </div>
        <div class="cart-count" ng-if="!editStatu">
            <label> ¥ {{price | number: 2}}</label>
        </div>
    </div>
</div>