<div class="order-detail-page">
    <div class="order-group">
        <ul class="order-list">
            <li class="order-list-one">
                <div class="order-title">
                    <span class="order-head">订单详细信息</span>
                    <span class="order-status">共{{vm.price}}元</span>
                </div>
                <ul class="order-books">
                    <div class="order-book" ng-repeat="z in vm.order.carts">
                        <img ui-sref="book({isbn: z.book.isbn})" ng-src="{{z.book.image}}">
                        <p ui-sref="book({isbn: z.book.isbn})">{{z.book.title}}</p>
                        <small ng-repeat="x in z.book.author"><small>{{x}} </small></small>
                        <input type="button" class="btn btn-default back" value="申请退换货"
                               ng-if="z.status === 'STATUS_NORMAL' && vm.order.status === '待评价'" ng-click="vm.toReturn(z)">
                        <input type="button" class="btn btn-default back" value="退货中"
                               ui-sref="ordersAftersalesDetail({orderid: vm.order.id, aftersellingid: z.after_selling_id})"
                               ng-if="z.status === 'STATUS_REFUND_PROCESSING' && vm.order.status === '待评价'">
                        <input type="button" class="btn btn-default back" value="换货中"
                               ui-sref="ordersAftersalesDetail({orderid: vm.order.id, aftersellingid: z.after_selling_id})"
                               ng-if="z.status === 'STATUS_REPLACE_PROCESSING' && vm.order.status === '待评价'">
                        <span class="count"> {{z.number}}本 / 共{{z.price_sum | number:2}}元</span>
                    </div>
                </ul>
                <div class="order-detail">
                    <div class="order-title">
                        <span class="order-head">订单状态</span>
                        <span class="order-status">{{vm.order.status}}</span>
                    </div>
                    <ul class="order-process">
                        <li ng-repeat="x in vm.status_list track by $index">
                            <span>{{x.status}}</span>
                            <span>{{x.time*1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                        </li>
                    </ul>
                </div>
                <div class="order-receipt">
                    <div class="order-title">
                        <span class="order-head">原订单收货信息</span>
                    </div>
                    <div class="order-receipt-meta">
                        <p>收货人: {{vm.order.address.name}}</p>
                        <p>联系电话: {{vm.order.address.phone}}</p>
                        <p>收货地址: {{vm.order.address.dormitory}}</p>
                    </div>
                </div>
                <div class="order-detail-clear"></div>
                <div class="order-meta order-meta-fix-bottom">
                    <div class="order-meta-price">
                        <span class="order-price">货到付款&nbsp;&nbsp;&nbsp;<em>{{vm.price}}</em> 元</span>
                    </div>
                    <a class="btn btn-danger"
                       ng-if="vm.order.status=='待评价' && !vm.order.replace_refund_processing"
                       style="width: 95px;" ui-sref="orderComments({id: vm.order.id})">
                        评价
                    </a>
                    <button class="btn btn-danger" promise-btn
                            ng-if="vm.order.replace_refund_processing"
                            disabled>
                        退换货中
                    </button>
                    <button class="btn btn-danger"
                            ng-if="vm.order.status=='待收货'"
                            disabled>
                        已发货啦
                    </button>
                    <button class="btn btn-danger" promise-btn
                            ng-if="vm.order.status=='待发货'"
                            ng-click="vm.cancel(vm.order)">
                        取消订单
                    </button>
                    <button class="btn btn-danger"
                            ng-if="vm.order.status=='已取消'"
                            style="width: 95px;" disabled>
                        已取消
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>