{% extends 'admin/master.html' %}


{% block body %}
    <h1>通用操作</h1>
    <a href="{{ url_for('admin.notice_sender') }}">通知发送</a>

    <div class="row">
        <div class="col-md-6">
            <h1>订单数量</h1>
            <p>待发货 <strong>{{ billing_pending }}</strong></p>
            <p>待收货 <strong>{{ billing_waiting }}</strong></p>
            <p>售后订单 <strong>{{ after_selling }}</strong></p>
        </div>
        <div class="col-md-6">
            <h1>平台收支情况</h1>
            <p>收入 (用户支付的价格) <strong>{{ storehouse_price }}</strong></p>
            <p>支出 (购书实际价格) <strong>{{ storehouse_real_price }}</strong></p>
            <p>利润 <strong>{{ storehouse_all }}</strong></p>
        </div>
        <div class="col-md-6">
            <h1>用户数 {{ user_count }}</h1>
            <canvas id="user_number" width="400" height="150"></canvas>
        </div>
        <div class="col-md-6">
            <h1>7天内订单</h1>
            <canvas id="billing" width="400" height="150"></canvas>
        </div>

        <div class="col-md-6">
            <h1>14天内收支金额</h1>
            <canvas id="money_14" width="400" height="150"></canvas>
        </div>

        <div class="col-md-6">
            <h1>14天内利润</h1>
            <canvas id="earn_14" width="400" height="150"></canvas>
        </div>
    </div>
    <div class="row">
        <h1>平台评分</h1>
        <div class="col-md-4">
            <h3>购书体验</h3>
            <canvas id="score_buy" width="400" height="150"></canvas>
        </div>
        <div class="col-md-4">
            <h3>物流服务</h3>
            <canvas id="score_transport" width="400" height="150"></canvas>
        </div>
        <div class="col-md-4">
            <h3>服务态度</h3>
            <canvas id="score_service" width="400" height="150"></canvas>
        </div>
    </div>


{% endblock %}
{% block tail %}
{{ super() }}
<script src="/static/js/base64.js"></script>
<script src="/static/js/Chart.min.js"></script>
<script>

var user_number = $("#user_number");
var user_number_canvas = new Chart(user_number, {
    type: 'bar',
    data: {
        labels: ["13天前", "12天前", "11天前", "10天前", "9天前", "8天前", "7天前", "6天前", "5天前", "4天前", "3天前", "2天前", "昨天", "今天"],
        datasets: [{
            label: '用户数',
            data: [{{ user_list_day_str }}],
            backgroundColor: 'rgba(54, 162, 235, 1)',
        }]
    }
});
var billing = $("#billing");
var billing_canvas = new Chart(billing, {
    type: 'line',
    data: {
        labels: ['6天前', '5天前', '4天前', '3天前', '2天前', '昨天', '今天'],
        datasets: [
            {
                label: "有效的订单",
                data: [{{ seven_days_billing_active_str }}],
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'transparent'

            },
            {
                label: "取消的订单",
                data: [{{ seven_days_billing_canceled_str }}],


            },
        ]
    }
});
var storehouse = $("#money_14");
var billing_canvas = new Chart(storehouse, {
    type: 'line',
    data: {
        labels: ['13天前', '12天前', '11天前', '10天前', '9天前', '8天前', '7天前', '6天前', '5天前', '4天前', '3天前', '2天前', '昨天', '今天'],
        datasets: [
            {
                label: "收入 (用户支付的价格)",
                data: [{{ storehouse_14_price_str }}],
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'transparent'

            },
            {
                label: "支出 (购书实际价格)",
                data: [{{ storehouse_14_real_price_str }}],
                backgroundColor: 'transparent',
                borderColor: 'red',

            }
        ]
    }
});
var earn = $("#earn_14");
var earn_canvas = new Chart(earn, {
    type: 'line',
    data: {
        labels: ['13天前', '12天前', '11天前', '10天前', '9天前', '8天前', '7天前', '6天前', '5天前', '4天前', '3天前', '2天前', '昨天', '今天'],
        datasets: [
            {
                label: "利润",
                data: [{{ storehouse_14_all_str }}],
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'transparent'

            }
        ]
    }
});

var score_buy = $("#score_buy");
var score_transport = $("#score_transport");
var score_service = $("#score_service");

var score_buy_score = new Chart(score_buy, {
    type: 'pie',
    data: {
        labels: ['当前评分', "缺失评分"],
        datasets: [
            {
                data: [{{ score_buy }}, {{ 10.0-score_buy }}],
                backgroundColor: ['red','transparent']
            }
        ]
    }
});
var score_transport_score = new Chart(score_transport, {
    type: 'pie',
    data: {
        labels: ['当前评分', "缺失评分"],
        datasets: [
            {
                data: [{{ score_transport }}, {{ 10.0-score_transport }}],
                backgroundColor: ['red','transparent']
            }
        ]
    }
});
var score_service_score = new Chart(score_service, {
    type: 'pie',
    data: {
        labels: ['当前评分', "缺失评分"],
        datasets: [
            {
                data: [{{ score_buy }}, {{ 10.0-score_buy }}],
                backgroundColor: ['red','transparent']
            }
        ]
    }
});
{#,{#}
{#    type: 'pie',#}
{#    data: [#}
{#	{#}
{#		value: 30,#}
{#		color:"#F38630"#}
{#	}#}
{#]#}
{#}#}
</script>
{% endblock %}